# Ignore Terraform working directories
**/.terraform/
**/.terraform/**

# Ignore Terraform state and backup files
**/*.tfstate
**/*.tfstate.*

# Ignore Terraform lock files
**/.terraform.lock.hcl

# Ignore downloaded provider binaries and local plugin caches
**/providers/**
**/*.exe

# Ignore document files
*.doc

# Ignore local editor/system files if needed
.DS_Store
Thumbs.db